<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!--STYLESHEET-->
    <!--=================================================-->

    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="vendor/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="css/nifty.min.css" rel="stylesheet">

    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="css/demo/nifty-demo-icons.min.css" rel="stylesheet">

    <!--Demo [ DEMONSTRATION ]-->
    <link href="css/demo/nifty-demo.min.css" rel="stylesheet">

    <!--Magic Checkbox [ OPTIONAL ]-->
    <link href="vendor/magic-check/css/magic-check.min.css" rel="stylesheet">

    <!--Themify Icon [ OPTIONAL ]-->
    <link href="vendor/themify-icons/themify-icons.min.css" rel="stylesheet">

    <!--NevaOil Stylesheet [ REQUIRED ]-->
    <link href="css/nevaoil.css" rel="stylesheet">

    <link href="vendor/fooTable/footable.min.css" rel="stylesheet">



    <!--JAVASCRIPT-->
    <!--=================================================-->

    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="vendor/pace/pace.min.css" rel="stylesheet">
    <script src="vendor/pace/pace.min.js"></script>

    <!--jQuery [ REQUIRED ]-->
    <script src="vendor/bootstrap/jquery-2.2.4.min.js"></script>

    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="vendor/bootstrap/bootstrap.min.js"></script>

    <script src="vendor/fooTable/footable.min.js"></script>

    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="js/nifty.min.js"></script>

</head>

<body>

    <div id="container" class="effect aside-bright mainnav-out slide">

        <%- partial('layout/header') %>


        <div id="app" class="boxed">

            <div id="content-container">

                <div id="page-title">
                    <h1 class="page-header text-overflow">Documentation</h1>

                    <!--Searchbox-->
                    <div class="searchbox">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search..">
                            <span class="input-group-btn">
                                <button class="text-muted" type="button"><i class="demo-pli-magnifi-glass"></i></button>
                            </span>
                        </div>
                    </div>
                </div>

                <div id="page-content">
                    
                    <div class="row">
                        
                        <div class="col-lg-6">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Cognex parameters</h3>
                                </div>
            
                                <div class="panel-body">
                                    

                                    <div class="row">
                                        <div class="col-sm-2 text-xs-center">
                                            <label class="form-inline">Show
                                                <select id="demo-show-entries" class="form-control input-sm">
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                </select>
                                            </label>
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="form-inline">Group
                                                <select id="demo-foo-filter-status" class="form-control">
                                                    <option value="">Show all</option>
                                                    <% for (var group in cognex) { %>
                                                        <option value="<%= group %>"><%= group %></option>
                                                    <% } %>
                                                </select>
                                            </label>
                                        </div>
                                        <div class="col-sm-4 text-xs-center text-right">
                                            <div class="form-group">
                                                <input id="demo-foo-search" type="text" placeholder="Search" class="form-control" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>

                                    <table id="demo-foo-pagination" class="table toggle-arrow-tiny" data-page-size="10">
                                        <thead>
                                            <tr>
                                                <th data-toggle="true">First Name</th>
                                                <th data-hide="all">Group</th>
                                                <th data-hide="all">Type</th>
                                                <th data-hide="all">Description</th>
                                                <th data-hide="all">Remark</th>
                                                <th data-hide="all">Translate</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <% for (var group in cognex) { %>
                                                <% for (var param in cognex[group]) { %>
                                                    <tr>
                                                        <td><%= param %></td>
                                                        <td><%= group %></td>
                                                        <td><b><%= cognex[group][param].type %></b>
                                                            <% for (var value in cognex[group][param].values) { %>
                                                                <p><b><%= value %>[<%= cognex[group][param].values[value].value%>]</b> - <%= cognex[group][param].values[value].description %>
                                                            <% } %>
                                                        </td>
                                                        <td><%= cognex[group][param].description %></td>
                                                        <td><%= cognex[group][param].remark %></td>
                                                        <td><%= cognex[group][param].translate %></td>
                                                    </tr>
                                                <% } %>

                                            <% } %>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="5">
                                                    <div class="text-right">
                                                        <ul class="pagination"></ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
            
                            </div>
                        </div>

                    </div>

                    

                </div>

            </div>

        </div>



        <footer id="footer">
            <div class="hide-fixed pull-right pad-rgt">
                Version <strong>1.0.0</strong> 
            </div>

            <p class="pad-lft">&#0169; 2017 NevaOil</p>
        </footer>

        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->

    </div>

    <script type="text/javascript">

        var table = $('#demo-foo-pagination');
        table.footable();
        $('#demo-show-entries').change(function (e) {
            e.preventDefault();
            var pageSize = $(this).val();
            table.data('page-size', pageSize);
            table.trigger('footable_initialized');
        });

        // Filter status
        $('#demo-foo-filter-status').change(function (e) {
            e.preventDefault();
            table.trigger('footable_filter', {filter: $(this).val()});
        });


        $('#demo-foo-search').on('input', function (e) {
            e.preventDefault();
            table.trigger('footable_filter', {filter: $(this).val()});
        });


        

    </script>
</body>
</html>