<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!--STYLESHEET-->
    <!--=================================================-->

    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="vendor/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!--Magic Checkbox [ OPTIONAL ]-->
    <link href="vendor/magic-check/css/magic-check.min.css" rel="stylesheet">

    <!--Themify Icon [ OPTIONAL ]-->
    <link href="vendor/themify-icons/themify-icons.min.css" rel="stylesheet">


    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="css/nifty.min.css" rel="stylesheet">

    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="css/demo/nifty-demo-icons.min.css" rel="stylesheet">

    <!--Demo [ DEMONSTRATION ]-->
    <link href="css/demo/nifty-demo.min.css" rel="stylesheet">    

    <!--NevaOil Stylesheet [ REQUIRED ]-->
    <link href="css/nevaoil.css" rel="stylesheet">



    <!--JAVASCRIPT-->
    <!--=================================================-->

    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="vendor/pace/pace.min.css" rel="stylesheet">
    <script src="vendor/pace/pace.min.js"></script>

    <!--jQuery [ REQUIRED ]-->
    <script src="vendor/bootstrap/jquery-2.2.4.min.js"></script>

    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="vendor/bootstrap/bootstrap.min.js"></script>
    <script src="vendor/bootstrap-table/bootstrap-table.min.js"></script>

    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="js/nifty.min.js"></script>
</head>

<body>

    <div id="container" class="effect aside-bright mainnav-out slide aside-in">

        <%- partial('layout/header') %>


        <div id="app" class="boxed">

            <machine></machine>
            
        </div>



        <footer id="footer">
            <div class="hide-fixed pull-right pad-rgt">
                Version <strong>1.1.0</strong> 
            </div>

            <p class="pad-lft">&#0169; 2017 NevaOil</p>
        </footer>

        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->

    </div>

    

    <script src="machine.bundle.js"></script>
</body>
</html>