<script>

import panel from '../ui/panel.vue'
import dynamicTable from '../ui/dynamic-table.vue'

export default {
	data() {
		return {
			listOfEquipment: [],
			listOfPLC: [],
			listOfEvents: [],
			listOfParams: [],
			listOfStates: [{a:1, b:2, c:3}, {a:2, b:3, c:4}], //
			listOfCharacteristics: [],//

			selected: {
				equipment: 0,
				params: 0,
				events: 0,
				type: 0,
			},

			paramForSettings: {
				idPLC: 0,
				address: 0,

				bit: 0,

				type: 'SHORT',
				max_eu: 0,
				min_eu: 0,
				max_raw: 0,
				min_raw: 0,

				save: 0,
				disconnect: 0
			},

			si: 10
		}
	},

	computed: {
		sii() {
			return parseInt(this.paramForSettings.address, this.si)
		}
	},

	methods: {

		clickStates(type) {
			console.log(type)
		},

		selectedEquipment(equipment) {
			this.selected.equipment = equipment.id_element;
			this.$socket.send({action: 'getPropertyForEquipment', data: equipment.id_element})
		},

		selectedParams(params) {
			this.selected.params = params.id_parameter;
			this.selected.type = 1;
			this.paramForSettings.save = 1;
			this.paramForSettings.disconnect = 0;

			if (+params.id_variable > 0) {
				this.$socket.send({action: 'getValueForParams', data: +params.id_variable})
				this.paramForSettings.save = 0;
				this.paramForSettings.disconnect = 1;
			}
		},

		selectedEvents(events) {
			this.selected.events = events.id_event;
			this.selected.type = 2;
			this.paramForSettings.save = 1;
			this.paramForSettings.disconnect = 0;

			if (+events.id_logic_variable > 0) {
				this.$socket.send(({action: 'getValueForEvents', data: +events.id_logic_variable}))
				this.paramForSettings.save = 0;
				this.paramForSettings.disconnect = 1;
			}
		},

		saveSettings() {
			if (+this.paramForSettings.idPLC > 0 && +this.paramForSettings.address > 0) {

				if (this.selected.type == 1) {
					this.$socket.send({
						action: 'saveSettingsForParams',
						data: {
							group: +this.selected.equipment,

							idParams: +this.selected.params,
							idGroup: +this.paramForSettings.idPLC,
							address: this.sii,
							type: this.paramForSettings.type,
							//rescale
							max_eu: +this.paramForSettings.max_eu + "",
							min_eu: +this.paramForSettings.min_eu + "",
							max_raw: +this.paramForSettings.max_raw + "",
							min_raw: +this.paramForSettings.min_raw + "",
						}
					})

				} else if (this.selected.type == 2) {
					this.$socket.send({
						action: 'saveSettingsForEvents',
						data: {
							group: +this.selected.equipment,
							idGroup: +this.paramForSettings.idPLC,
							address: this.sii,
							bit: +this.paramForSettings.bit,
							idEvent: +this.selected.events
						}
					});
				}
			}
		},

		disconnectSettings() {
			if (this.selected.type == 1) {
				this.$socket.send({
					action: 'disconnectForParams',
					data: {
						id: +this.selected.params,
						group: +this.selected.equipment
					}
				})
			} else if (this.selected.type == 2){
				this.$socket.send({
					action: 'disconnectForEvents',
					data: {
						id: +this.selected.events,
						group: +this.selected.equipment
					}
				})
			}
		}
	},


	socket: {
		data(msg) {
			switch (msg.action) {
				case 'setListOfEquipment':
					this.listOfEquipment = msg.data;
					break;

				case 'setListOfEvents':
					this.listOfEvents = msg.data;
					break;

				case 'setListOfParams':
					this.listOfParams = msg.data;
					break;

				case 'setListOfPLC':
					this.listOfPLC = msg.data;
					break;

				case 'setValueForEvents':
					this.paramForSettings.idPLC = msg.data.id_group;
					this.paramForSettings.address = msg.data.address;
					this.paramForSettings.bit = msg.data.bit;
					break;

				case 'setValueForParams':
					this.paramForSettings.idPLC = msg.data.id_group;
					this.paramForSettings.address = msg.data.address;

					this.paramForSettings.type = msg.data.type;
					this.paramForSettings.max_eu = msg.data.max_eu;
					this.paramForSettings.min_eu = msg.data.min_eu;
					this.paramForSettings.max_raw = msg.data.max_raw;
					this.paramForSettings.min_raw = msg.data.min_raw;
					break;
			}
		}
	},

	components: {
		dynamicTable,
		panel
	}
	
	
}

</script>

<template>
<div class="row">

	<div class="col-lg-4" >

		<panel>
    		<h3 class="panel-title" slot="header">Список оборудования</h3>

    		<dynamic-table 
        			:columns="['id_element', 'element_name', 'object_name', 'template_element_name']"
        			:nameColumns="['ID', 'Element name', 'Object name', 'Template name']"
        			:data="listOfEquipment"
        			@selectedRows="selectedEquipment">
        	</dynamic-table>

		</panel>        

    </div>

    <div class="col-lg-4">

    	<panel>
    		<h3 class="panel-title" slot="header">Параметры ({{selected.equipment}})</h3>

    		<dynamic-table 
        			:columns="['id_parameter', 'parameter_name', 'unit', 'id_variable']"
        			:nameColumns="['ID', 'Parameter name', 'Unit', 'ID variable']"
        			:data="listOfParams"
        			@selectedRows="selectedParams">
        	</dynamic-table>

        	<div class="panel-footer" slot="footer">Количество записей: {{ listOfParams.length }}</div>

        	<div slot="modal-add">EEE</div>

		</panel> 

		<panel>
    		<h3 class="panel-title" slot="header">События ({{selected.equipment}})</h3>

    		<dynamic-table 
        			:columns="['id_event', 'event_name', 'event_type', 'id_logic_variable', 'correct_event']"
        			:nameColumns="['ID', 'Event name', 'Event type', 'ID logic var', 'Correct event']"
        			:data="listOfEvents"
        			@selectedRows="selectedEvents">
        	</dynamic-table>

        	<div class="panel-footer" slot="footer">Количество записей: {{ listOfEvents.length }}</div>
		</panel>

		<panel
			:collapse="true"
			:buttons="[{name: 'add', icon: 'ti-plus'}, {name: 'delete', icon: 'ti-minus'}]"
			@click="clickStates">
			<h3 class="panel-title" slot="header">Состояния </h3>

		</panel>

		<panel
			:collapse="true">
			<h3 class="panel-title" slot="header">Характеристики </h3>

		</panel>

    </div>

    <div class="col-lg-4">

         <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Настройка ({{selected.type == 1 ? selected.params : (selected.type == 2 ? selected.events : 0)}})</h3>
            </div>

            <div class="panel-body" v-if="selected.type > 0">
                <div class="form-group">
                    <label class="col-sm-3 control-label">PLC</label>
                    <div class="col-sm-9">
                        <select class="form-control" v-model="paramForSettings.idPLC">
                            <option v-for="item in listOfPLC" v-bind:value="item.id_group">{{item.group_name}}</option>
                        </select>
                    </div>
                </div><br /><br />
                <div class="form-group">
                    <label class="col-sm-3 control-label">Variable</label>
                    <div class="col-sm-4">
                        <input type="text" placeholder="address" class="form-control" v-model="paramForSettings.address">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" placeholder="address" class="form-control" v-model="sii" readonly>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" v-model="si">
                        	<option>8</option>
                        	<option>10</option>
                        	<option>16</option>
                        </select>
                    </div>
                </div><br /><br />
                <div class="form-group" v-if="selected.type == 2">
                    <label class="col-sm-3 control-label">Bit</label>
                    <div class="col-sm-9">
                        <input type="text" placeholder="bit" class="form-control" v-model="paramForSettings.bit">
                    </div>
                </div>

                <div class="form-group" v-if="selected.type == 1">
                    <label class="col-sm-3 control-label">Type</label>
                    <div class="col-sm-9">
                    	<select class="form-control" v-model="paramForSettings.type">
                        	<option>SHORT</option>
                        	<option>USHORT</option>
                        	<option>INT</option>
                        	<option>UINT</option>
                        	<option>DINT</option>
                        	<option>UDINT</option>
                        	<option>REAL</option>
                        </select>
                    </div>
                    <br /><br />
                </div>
                <div class="form-group" v-if="selected.type == 1">
                    <label class="col-sm-3 control-label">Max EU</label>
                    <div class="col-sm-9">
                        <input type="text" placeholder="max eu" class="form-control" v-model="paramForSettings.max_eu">
                    </div>
                    <br /><br />
                </div>
                <div class="form-group" v-if="selected.type == 1">
                    <label class="col-sm-3 control-label">Min EU</label>
                    <div class="col-sm-9">
                        <input type="text" placeholder="min eu" class="form-control" v-model="paramForSettings.min_eu">
                    </div>
                    <br /><br />
                </div>
                <div class="form-group" v-if="selected.type == 1">
                    <label class="col-sm-3 control-label">Max Raw</label>
                    <div class="col-sm-9">
                        <input type="text" placeholder="max raw" class="form-control" v-model="paramForSettings.max_raw">
                    </div>
                    <br /><br />
                </div>
                <div class="form-group" v-if="selected.type == 1">
                    <label class="col-sm-3 control-label">Min Raw</label>
                    <div class="col-sm-9">
                        <input type="text" placeholder="min raw" class="form-control" v-model="paramForSettings.min_raw">
                    </div>
                </div>
                
            </div>
            <div class="panel-footer text-right" v-on:click="saveSettings()" v-if="paramForSettings.save">
                <button class="btn btn-success" type="submit">Сохранить</button>
            </div>
            <div class="panel-footer text-right" v-on:click="disconnectSettings()" v-if="paramForSettings.disconnect">
                <button class="btn btn-danger" type="submit">Отвязать</button>
            </div>
        </div>

    </div>
</div>	
</template>