<script>
import controlNc from './machine/control-nc.vue'
import controlNci from './machine/control-nci.vue'
import controlMain from './machine/control-main.vue'

export default {

	data() {
		return {
			modal: this.$store.state.modal
		}
	},

	components: {
		controlNc,
		controlNci,
		controlMain,
	},

	methods: {
		emergencyStop() {
			this.$socket.send('Machine', 'emergency-stop');
		}
	},
}

</script>


<template>
<div id="content-container">
	<div id="page-title">
	    <h1 class="page-header text-overflow">Machine
	        <button v-on:click="emergencyStop" class="btn btn-danger" style="float: right">Аварийная остановка</button>
	    </h1>	    
	</div>


	<div id="page-content">

    	<div class="row">
        	<div class="col-lg-3">   
        		<control-nc></control-nc>
        	</div>

	        <div class="col-lg-9">
	            <control-nci></control-nci>
	        </div>       
    	</div>

    	<div class="row">
		    <div class="col-lg-5">
		        <canvas id="canvas"></canvas>
		    </div>

		    <div class="col-lg-7">	
			    <canvas id="canvas-3d"></canvas>		    		    	
		    </div>
		</div>
    </div>

	<control-main></control-main>

	<div class="modal-backdrop in" v-bind:style="{display: modal.active ? 'block' : 'none'}"></div>

    <div class="modal fade in" v-bind:style="{display: modal.active ? 'block' : 'none'}">
        <div class="modal-dialog modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="block-title">{{ modal.title }}</h4>
                </div>
                <div class="modal-body">
                    <p id="block-description">{{ modal.description }}</p>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary">Сообщить о проблеме</button>
                </div>
            </div>
        </div>
    </div>

</div>
</template>

