<script>
	
export default {

	props: ['badge', 'badge-text', 'title', 'id'],
	data() {
		return {
			show: false
		}
	},

	computed: {

	}, 

	methods: {
		click() {
			this.show = !this.show;
		}
	}
}

</script>

<template>
<div>
	<a role="button" v-on:click="click">                                        
        <p class="mar-all">{{title}}
            <span class="badge badge-info pull-right" >{{badgeText}}</span>
        </p>
    </a>

    <transition
    	name=""
	    enter-active-class="collapsing"
	    leave-active-class="collapsing"
	    :duration="1000"
    >
    <div v-if="show">
    	<slot ></slot>
    </div>
    </transition>


	<div style="display: block; height: 1px"></div>
</div>
</template>
