<script>
	
export default {

	data() {
		return {
			selected: -1,
		}
	},

	methods: {
		selectedRows(entry) {
			this.selected = entry;
			this.$emit('selectedRows', entry)
		}
	},

	props: {
		data: Array,
		columns: Array,
		nameColumns: Array
	}
}


</script>

<template>
	<table class="table table-scrolling">
		<thead>
			<tr>
				<th v-for="key in nameColumns">
					{{key}}
				</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="entry in data"
				v-on:click="selectedRows(entry)"
				v-bind:class="{'selected-rows': entry == selected}">
				<td v-for="key in columns">
					{{entry[key]}}
				</td>
			</tr>
		</tbody>
	</table>
</template>

<style>
	.table-scrolling tbody {
		display: block;
		max-height: 200px;
		width: 100%;
		overflow: hidden;
		overflow-y: auto;
	}

	.table-scrolling tr {
		display: table;
		width: 100%;
		table-layout: fixed;
	}

	.selected-rows {
		background: #f4faa7;
	}
</style>
