<script>

module.exports = (function() {

	return {

	}

})();

</script>

<template>
	
	<div class="modal-backdrop in" v-bind:style="{display: modal.active ? 'block' : 'none'}"></div>

    <div class="modal fade in" v-bind:style="{display: modal.active ? 'block' : 'none'}">
        <div class="modal-dialog modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="block-title">{{ modal.title }}</h4>
                </div>
                <div class="modal-body">
                    <p id="block-description">{{ modal.description }}</p>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary">Сообщить о проблеме</button>
                </div>
            </div>
        </div>
    </div>
    
</template>