<script>

export default {
	data() {
		return {
			dataTarget: 'panel-' + Math.random().toString(36).substring(2)
		}
	},

    methods: {
        click(button) {
            this.$emit('click', button.name)
        }
    },

    props: {
        collapse: Boolean,
        buttons: Array
    }
}

</script>

<template>
	
	<div class="panel">
        <div class="panel-heading">
        	<div class="panel-control">
                <button class="btn btn-default" v-for="button in buttons" v-on:click="click(button)">
                    <i :class="button.icon"></i>
                </button>

                <!--<button class="btn btn-default"><i class="ti-plus"></i></button>
                <button class="btn btn-default"><i class="ti-minus"></i></button>-->
                <button class="btn btn-default" :data-target="'#' + dataTarget" data-toggle="collapse"><i class="ti-angle-down"></i></button>
            </div>
            <slot name="header"></slot>
        </div>

        <div :id="dataTarget" class="collapse" :class="{'in': !collapse}">
            <div class="panel-body">

            	<slot>
            		Content!!
            	</slot>

            </div>
        </div>

        <slot name="footer"></slot>
    </div>

</template>