<script>

var NCStatus = {
    0: 'Ожидание комманды',
    1: 'Движение к точке 1',
    2: 'Движение к точке 2',
    3: 'Одиночный jog',
    4: 'Остановка jog',
    5: 'Движение с заданной скоростью',
    6: 'Остановка',
    7: 'Задание позиции',
    40: 'Ошибка'
}

var axisParams = {
    x2: { point1: 100, point2: 200, velocity: 100, jogDistance: 50 },
    y: { point1: 100, point2: 200, velocity: 100, jogDistance: 50 },
    z: { point1: 100, point2: 200, velocity: 100, jogDistance: 50 },
    h: { point1: 100, point2: 200, velocity: 100, jogDistance: 50 },
    q: { point1: 100, point2: 200, velocity: 100, jogDistance: 50 },
};


export default {
    data() {
        return {
            axis: this.$store.state.machine.Axis.x2,
            titleAxis: 'X',
            lcTitleAxis: 'x2',            

            axisParam: axisParams.x2,
          
            acceleration: 100,
            deceleration: 100
        }
    },

    computed: {

        setTextNCStatus: function() {
            return NCStatus[ this.axis.ncStatus ];
        }
    },

    methods: {
        changeAxis(axis) {
            this.titleAxis = axis.toUpperCase()[0];
            this.lcTitleAxis = axis;
            this.axis = this.$store.state.machine.Axis[axis];
            this.axisParam = axisParams[axis];
        },

        resetAxis() {
            this.$socket.send('Machine', 'reset-axis', this.lcTitleAxis);
        },

        stopAxis() { 
            this.$socket.send('Machine', 'stop-axis', this.lcTitleAxis);
        },
        toPoint1() { 
            this.$socket.send('Machine', 'to-point1', {
                axis: this.lcTitleAxis,
                point: this.axisParam.point1,
                velo: this.axisParam.velocity
            });
        },
        toPoint2() { 
            this.$socket.send('Machine', 'to-point2', {
                axis: this.lcTitleAxis,
                point: this.axisParam.point2,
                velo: this.axisParam.velocity
            }) 
        },
        betweenPoint() { 
            this.$socket.send('Machine', 'between-point', {
                axis: this.lcTitleAxis,
                point1: this.axisParam.point1,
                point2: this.axisParam.point2,
                velo: this.axisParam.velocity
            }) 
        },
        oneJogForward() { 
            this.$socket.send('Machine', 'one-jog-forward', {
                axis: this.lcTitleAxis,
                jogDistance: this.axisParam.jogDistance,
                velo: this.axisParam.velocity
            }) 
        },
        oneJogBackward() { 
            this.$socket.send('Machine', 'one-jog-backward', {
                axis: this.lcTitleAxis,
                jogDistance: this.axisParam.jogDistance,
                velo: this.axisParam.velocity
            }) 
        },
    }
}

</script>

<template>
	<div class="tab-base tab-stacked-left">
        <!--<div class="modal-backdrop in" style="display: block"></div>-->
        <ul class="nav nav-tabs">
            <li class="active"> <a v-on:click="changeAxis('x2')" data-toggle="tab" href="#">X</a> </li>
            <li>                <a v-on:click="changeAxis('y')" data-toggle="tab" href="#">Y</a>  </li>
            <li>                <a v-on:click="changeAxis('z')" data-toggle="tab" href="#">Z</a>  </li>
            <li>                <a v-on:click="changeAxis('h')" data-toggle="tab" href="#">H</a>  </li>
            <li>                <a v-on:click="changeAxis('q')" data-toggle="tab" href="#">Q</a>  </li>
        </ul>

        <div class="tab-content" style="padding-top: 0px">
            <div class="tab-pane fade active in">

                <div class="panel-heading" >
                    <div class="panel-control">
                        <div class="btn-group">
                            <button v-on:click="resetAxis" class="btn btn-default">
                                <i class="ti-eraser"></i>
                            </button>
                        </div>
                    </div>
                    <h3 class='panel-title' style="padding: 0px; font-size: 1.0em;">
                    Axis {{ titleAxis }}</h3>
                </div>

                <p class="mar-no"> <span class="pull-right text-bold">{{ axis.actPos }}</span> Actual position: </p>
                <p class="mar-no"> <span class="pull-right text-bold">{{ axis.setPos }}</span> Set position: </p>
                <p class="mar-no"> <span class="pull-right text-bold">{{ axis.actVelo }}</span> Actual velocity: </p>
                <p class="mar-no"> <span class="pull-right text-bold">{{ axis.setVelo }}</span> Set velocity: </p>
                <p class="mar-no"> <span class="pull-right text-bold">{{ axis.setAcc }}</span> Set acceleration: </p>
                <p class="mar-no"> <span class="pull-right text-bold">{{ setTextNCStatus }}</span> NC статус: </p>
                <p class="mar-no"> <span class="pull-right text-bold">{{ axis.errCode }}</span> Error code: </p>
                <p class="mar-no"> <span class="pull-right text-bold">{{ axis.ncErrStatus }}</span> Состояние state машины: </p>
                <p class="mar-no"> <span class="pull-right text-bold">{{ axis.ncErrId }}</span> Код ошибки: </p>

                <hr />

                <div class="row">
                    <div class="col-xs-4 mar-btm">
                        <input v-model="axisParam.point1" type="text" class="form-control mar-btm">                                
                        <button v-on:click="toPoint1" class="btn btn-info btn-block">
                            <i class="ti-arrow-left"></i>
                        </button>
                        <button v-on:click="oneJogForward" class="btn btn-info btn-block mar-btm">
                            <i class="ti-angle-double-left"></i>
                        </button>
                        <input v-model="axisParam.jogDistance" type="text" class="form-control">
                    </div>
                    <div class="col-xs-4 mar-btm">
                        <input v-model="axisParam.velocity" type="text" class="form-control mar-btm">
                        <button v-on:click="betweenPoint" class="btn btn-info btn-block">
                            <i class="ti-arrows-horizontal"></i>
                        </button>
                        <button v-on:click="stopAxis" class="btn btn-warning btn-block mar-btm">СТОП</button> 
                        <input v-model="acceleration" type="text" class="form-control">
                    </div>
                    <div class="col-xs-4 mar-btm">
                        <input v-model="axisParam.point2" type="text" class="form-control mar-btm">
                        <button v-on:click="toPoint2" class="btn btn-info btn-block">
                            <i class="ti-arrow-right"></i>
                        </button>
                        <button v-on:click="oneJogBackward" class="btn btn-info btn-block mar-btm">
                            <i class="ti-angle-double-right"></i>
                        </button> 
                        <input v-model="deceleration" type="text" class="form-control">
                    </div>
                </div>

                <hr />

            </div>
        </div>

    </div>
</template>

