<script>

import codes from './codes.js'
import scannerCodes from '../scanner/codes.js'

import twincat from '../bar/twincat.vue'
import laser from '../bar/laser.vue'

export default {

	data: function() {
		return {

			axisActive: this.$store.state.machine.axisActive,

			listAxis: ['X', 'Y', 'Z', 'H', 'Q'],
			listSelectedAxis: {x: 'X', y: 'Y', z: 'Z'},

			x1: this.$store.state.machine.Axis.x1,
			x2: this.$store.state.machine.Axis.x2,
			y: this.$store.state.machine.Axis.y,
			z: this.$store.state.machine.Axis.z,
			h: this.$store.state.machine.Axis.h,
			q: this.$store.state.machine.Axis.q,

            machinePicked: 1,

            stateConnected: this.$store.state.machine.connect,
		}
	},

    components: {
        twincat,
        laser
    },

	methods: {
		connectTo: function() {
            if (this.$store.state.machine.connect == 0) {
                this.$socket.send('Machine', 'connect');
            } else {
                this.$socket.send('Machine', 'close');
            }
		},

		plcStart: function() {
			if (this.$store.state.machine.plc != 5) {
				this.$socket.send('Machine', 'plc-start');
			} else {
				this.$store.dispatch('Machine', 'plc-stop');
			}
		},

		plcReset: function() {
			this.$socket.send('Machine', 'plc-reset');
		},

		setAxisActive: function() {
			this.$socket.send('Machine', 'active-axis', this.axisActive);
		},

		makeChannel: function() {
			this.$socket.send('Machine', 'make-channel', this.listSelectedAxis);
		},

        //Cognex
        connectScanner() {
            if (this.$store.state.scanner.status === 0) {
                this.$socket.send('Scanner', 'connect');
            } else {
                this.$socket.send('Scanner', 'disconnect');
            }
        },

        acquireImage() {
            this.$socket.send('Scanner', 'acquire');
        },

        continueImage() {
            if (this.$store.state.scanner.state === 1) {
                this.$socket.send('Scanner', 'continue');
            } else {
                this.$socket.send('Scanner', 'stop');
            }
        },

        rangeImage() {
            this.$socket.send('Scanner', 'range');
        }
	},

	computed: {

		system() {
			return {
				mainState: codes.MainStatus[this.$store.state.machine.status],			
				nciState: codes.NCIStatus[this.$store.state.machine.NCI.status],
				nci: this.$store.state.machine.NCI,
				plc: codes.ADSState[this.$store.state.machine.plc],
				plcState: this.$store.state.machine.plc,
				connect: codes.ConnecteStatus[this.$store.state.machine.connect],
			}
		},

        scanner() {
            return {
                status: scannerCodes.ConnectedStatus[this.$store.state.scanner.status],
                state: scannerCodes.State[this.$store.state.scanner.state]
            }
        },

		state()  {
			return {
				x1: codes.AxisStatus[this.x1.state],
				x2: codes.AxisStatus[this.x2.state],
				y:  codes.AxisStatus[this.y.state],
				z: codes.AxisStatus[this.z.state],
				h: codes.AxisStatus[this.h.state],
				q:  codes.AxisStatus[this.q.state]
			}
		},

        laserMode: {
            get() {
                return this.$store.state.scanner.laserMode
            },
            set(value) {
                this.$store.commit('updateLaserMode', value);
                this.$socket.send('Scanner', 'change-camera-mode', value);
            }
        },

        cameraMode: {
            get() {
                return this.$store.state.scanner.cameraMode
            },
            set(value) {
                this.$store.commit('updateCameraMode', value);
                this.$socket.send('Scanner', 'change-laser', value);
            }
        }

	},

	watch: {
		'listSelectedAxis.x': function(val, oldVal) {
			if (this.listSelectedAxis.y == val) {
				this.listSelectedAxis.y = oldVal;
			} else if (this.listSelectedAxis.z == val) {
				this.listSelectedAxis.z = oldVal;
			}
		},

		'listSelectedAxis.y': function(val, oldVal) {
			if (this.listSelectedAxis.x == val) {
				this.listSelectedAxis.x = oldVal;
			} else if (this.listSelectedAxis.z == val) {
				this.listSelectedAxis.z = oldVal;
			}
		},

		'listSelectedAxis.z': function(val, oldVal) {
			if (this.listSelectedAxis.x == val) {
				this.listSelectedAxis.x = oldVal;
			} else if (this.listSelectedAxis.y == val) {
				this.listSelectedAxis.y = oldVal;
			}
		}
	}

}

</script>


<template>
	
<aside id="aside-container">
    <div id="aside">
        <div class="nano">
            <div class="nano-content">
                
                <!--Nav tabs-->
                <!--================================-->
                <ul class="nav nav-tabs nav-justified">
                    <li class="active">
                        <a href="#demo-asd-tab-1" data-toggle="tab">
                            <i class="demo-pli-speech-bubble-7"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#demo-asd-tab-2" data-toggle="tab">
                            <i class="demo-pli-information icon-fw"></i> Laser
                        </a>
                    </li>
                    <li>
                        <a href="#demo-asd-tab-3" data-toggle="tab">
                            <i class="demo-pli-wrench icon-fw"></i> Cognex
                        </a>
                    </li>
                </ul>
                <!--================================-->
                <!--End nav tabs-->



                <!-- Tabs Content -->
                <!--================================-->
                <div class="tab-content">

                    <!--First tab (Contact list)-->
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <div class="tab-pane fade in active" id="demo-asd-tab-1">

                        <!--<twincat></twincat>-->
                        

                        <p class="pad-hor mar-top text-semibold text-main">TwinCat Control v1.2</p> 


                        <a role="button" data-toggle="collapse" href="#el-connect-state">                                        
                            <p class="mar-all">Соединение
                                <span class="badge badge-success pull-right"> {{ system.connect }}</span>
                            </p>
                        </a>
                        <div class="collapse mar-no" :class="{in: this.$store.state.machine.connect != 2}" id="el-connect-state">
                          <div class="well mar-no">
                                <!--<p class="text-semibold text-main">Select Machine</p>
                                <div class="radio">
                                    <input v-model="machinePicked" type="radio" id="vm" value="vm" class="magic-radio">
                                    <label for="vm">Virtual Machine</label>
                                </div>
                                <div class="radio">
                                    <input v-model="machinePicked" type="radio" id="rm" value="rm" class="magic-radio">
                                    <label for="rm">Real Machine</label>
                                </div>-->
                                <button v-on:click="connectTo" class="btn btn-success btn-block">{{ this.$store.state.machine.connect == 0 ? 'Подключиться' : 'Отключиться' }}</button>
                            </div>
                        </div>

                        <div style="display: block; height: 1px"></div>

                        <a role="button" data-toggle="collapse" href="#el-plc-state" aria-expanded="false" aria-controls="collapseExample">
                            
                            <p class="mar-all">Состояние PLC
                                <span class="badge badge-success pull-right">{{ system.plc }}</span>
                            </p>
                        </a>
                        <div class="collapse" id="el-plc-state">
                          <div class="well">
                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                              <a v-on:click="plcStart" class="btn btn-success">PLC {{ system.plcState != 5 ? 'start' : 'stop' }}</a>
                              <a v-on:click="plcReset" class="btn btn-success">PLC reset</a>                                                 
                            </div>
                          </div>
                        </div>

                        <div style="display: block; height: 1px"></div>

                        <a role="button" data-toggle="collapse" href="#el-main-state" aria-expanded="false" aria-controls="collapseExample">
                            
                            <p class="mar-all">Состояние Main
                                <span class="badge badge-success pull-right">{{ system.mainState }}</span>
                            </p>
                        </a>
                        <div class="collapse" id="el-main-state">
                          <div class="well">
                            
                            <div class="btn-checkbox">
                                <div>
                                    <input type="checkbox" id="axis-x" v-model="axisActive.x2"/>
                                    <label for="axis-x">X</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="axis-y" v-model="axisActive.y"/>
                                    <label for="axis-y">Y</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="axis-z" v-model="axisActive.z"/>
                                    <label for="axis-z">Z</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="axis-h" v-model="axisActive.h"/>
                                    <label for="axis-h">H</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="axis-q" v-model="axisActive.q"/>
                                    <label for="axis-q">Q</label>
                                </div>
                            </div>

                            <button v-on:click="setAxisActive" class="btn btn-success btn-block">Активировать оси</button>

                          </div>
                        </div>

                        <div style="display: block; height: 1px"></div>

                        <a role="button" data-toggle="collapse" href="#el-nci-state" aria-expanded="false" aria-controls="collapseExample">
                            
                            <p class="mar-all">Состояние NCI
                                <span class="badge badge-success pull-right">{{ system.nciState }}</span>
                            <br />
                            <small class="text-muted">Selected file: <b>{{ system.nci.path }}</b><br />
                                    Selected axes: <b>{{ system.nci.chooseAxis }}</b></small></p>
                        </a>
                        <div class="collapse" id="el-nci-state">
                          <div class="well">

                            <div class="input-group mar-btm panel">
                                <span class="input-group-addon">X</span>
                                <select class="form-control" v-model="listSelectedAxis.x">
                                    <option v-for="axis in listAxis">{{axis}}</option>
                                </select>
                            </div>

                            <div class="input-group mar-btm panel">
                                <span class="input-group-addon">Y</span>
                                <select class="form-control" v-model="listSelectedAxis.y">                                                
                                    <option v-for="axis in listAxis">{{axis}}</option>
                                </select>
                            </div>

                            <div class="input-group mar-btm panel">
                                <span class="input-group-addon">Z</span>
                                <select class="form-control" v-model="listSelectedAxis.z">
                                    <option v-for="axis in listAxis">{{axis}}</option>
                                </select>
                            </div>

                            <button v-on:click="makeChannel" class="btn btn-success btn-block">Собрать канал</button>
                          </div>
                        </div>

                        <div style="display: block; height: 1px"></div>

                        <a role="button" data-toggle="collapse" href="#el-axis-state" aria-expanded="false" aria-controls="collapseExample">
                            
                            <p class="pad-hor mar-top text-semibold text-main">Состояние осей
                                <i class="ti-angle-down pull-right"></i>
                            </p>
                        </a>
                        <div class="collapse" id="el-axis-state">

                            <table class="table table-hover table-vcenter">
                                <tbody>
                                    <tr>
                                        <td style="padding-left: 20px">X</td>
                                        <td>
                                            <span class="text-main text-semibold">{{ x2.actPos }} ({{ x2.actVelo }})</span>
                                            <br>
                                            <small class="text-muted">{{ x1.actPos }} ({{ x1.actVelo }})</small>
                                        </td>
                                        <td><span class="badge badge-success pull-right">{{ state.x2 }}</span> </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 20px">Y</td>
                                        <td><span class="text-main text-semibold">{{ y.actPos }} ({{ y.actVelo }})</span></td>
                                        <td><span class="badge badge-success pull-right">{{ state.y }}</span> </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 20px">Z</td>
                                        <td><span class="text-main text-semibold">{{ z.actPos }} ({{ z.actVelo }})</span></td>
                                        <td><span class="badge badge-success pull-right">{{ state.z }}</span> </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 20px">H</td>
                                        <td><span class="text-main text-semibold">{{ h.actPos }} ({{ h.actVelo }})</span></td>
                                        <td><span class="badge badge-success pull-right">{{ state.h }}</span> </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 20px">Q</td>
                                        <td><span class="text-main text-semibold">{{ q.actPos }} ({{ q.actVelo }})</span></td>
                                        <td><span class="badge badge-success pull-right">{{ state.q }}</span> </td>
                                    </tr>
                                </tbody>
                            </table>

                            </ul>
                        </div>

                        <div style="display: block; height: 1px"></div>
                        <hr />

                        <p class="pad-hor mar-top text-semibold text-main">Service Cognex</p>

                        <a role="button" data-toggle="collapse" href="#el-connect-cognex">                                        
                            <p class="mar-all">Сервер
                                <span class="badge badge-info pull-right"> {{ scanner.status }}</span>
                            </p>
                        </a>
                        <div class="collapse" id="el-connect-cognex">
                          <div class="well">
                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                              <a v-on:click="connectScanner" class="btn btn-info">{{ scanner.status == 0 ? 'Подключиться' : 'Отключиться' }}</a>                                      
                            </div>
                          </div>
                        </div>

                        <div style="display: block; height: 1px"></div>

                        <a role="button" data-toggle="collapse" href="#el-task-cognex">                                        
                            <p class="mar-all">Сканер
                                <span class="badge badge-info pull-right"> {{ scanner.state }}</span>
                            </p>
                        </a>
                        <div class="collapse in" id="el-task-cognex">
                          <div class="well">
                            <select class="form-control mar-btm" v-model="cameraMode">
                                <option v-bind:value="0">Intensity</option>
                                <option v-bind:value="1">Intensity With Graphics</option>
                                <option v-bind:value="2">Range</option>
                            </select>

                            <select class="form-control mar-btm" v-model="laserMode">
                                <option v-bind:value="0">Off</option>
                                <option v-bind:value="1">On</option>
                                <option v-bind:value="2">Strobe</option>
                            </select>

                            <div class="btn-group btn-group-justified mar-btm" role="group" aria-label="...">
                              <a v-on:click="acquireImage" class="btn btn-info">Acquire</a>
                              <a v-on:click="continueImage" class="btn btn-info">{{ scanner.state === 1 ? 'Continue' : 'Stop' }}</a>
                            </div> 

                            <button v-on:click="rangeImage" class="btn btn-info btn-block">Range</button>

                          </div>
                        </div>

                        
                        

                    </div>
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <!--End first tab (Contact list)-->


                    <!--Second tab (Custom layout)-->
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <div class="tab-pane fade" id="demo-asd-tab-2">
                        <laser></laser>
                    </div>
                    <!--End second tab (Custom layout)-->
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


                    <!--Third tab (Settings)-->
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <div class="tab-pane fade" id="demo-asd-tab-3">

                        <ul class="list-group bg-trans">
                            <li class="pad-top list-header">
                                <p class="text-semibold text-main mar-no">Account Settings</p>
                            </li>
                            <li class="list-group-item">
                                <div class="pull-right">
                                    <input type="number" class="form-control" style="width: 70px">
                                </div>
                                <p class="mar-no">Detection Sensitivity</p>
                                <small class="text-muted">Used to detect where the laser is.</small>
                            </li>
                            <li class="list-group-item">
                                <div class="pull-right">
                                    <input class="toggle-switch" id="demo-switch-2" type="checkbox" checked="">
                                    <label for="demo-switch-2"></label>
                                </div>
                                <p class="mar-no">High Dynamic Range</p>
                                <small class="text-muted">Controls the maximum line rate by acquiring images with multiple expsures.</small>
                            </li>
                            <li class="list-group-item">
                                <div class="pull-right">
                                    <input type="number" class="form-control" style="width: 70px">
                                </div>
                                <p class="mar-no">Z Detection Sampling </p>
                                <small class="text-muted">May improve maximum line rate by reducing the number of rows used for laser finding. </small>
                            </li>
                            <hr />
                            <li class="list-group-item">
                                <div class="pull-right">
                                    <input type="number" class="form-control" style="width: 70px">
                                </div>
                                <p class="mar-no">Exposure </p>
                                <small class="text-muted"> </small>
                            </li>
                            <li class="list-group-item">
                                <div class="pull-right">
                                    <input type="number" class="form-control" style="width: 70px">
                                </div>
                                <p class="mar-no">Contrast </p>
                                <small class="text-muted"> </small>
                            </li>

                            
                        </ul>

                    </div>
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <!--Third tab (Settings)-->

                </div>
            </div>
        </div>
    </div>
</aside>

<!--===================================================-->
<!--END ASIDE-->
</template>