<script>
	
export default {

	data() {

		return {
			files: this.$store.state.machine.NCI.files,
			programm: this.$store.state.machine.NCI,
			selected: -1
		}

	},

	methods: {

		changeFile(index) {
			this.selected = index;
			this.$socket.send('Machine', 'get-nc-program', this.files[index]);
		},

		start() {
			this.$socket.send('Machine', 'nci-start', this.files[this.selected]);
		},

		oneLine: function() {
			this.$socket.send('Machine', 'nci-one-line', this.files[this.selected]);
		},

		nextLine: function() {
			this.$socket.send('Machine', 'nci-next-line');
		},

		pause: function() {
			this.$socket.send('Machine', 'nci-pause');
		},

		stop: function() {
			this.$socket.send('Machine', 'nci-stop');
		},

		confirmationError: function() {
			this.$socket.send('Machine', 'confirmation-error');
		},

		getListNCProgram: function() {
			this.$socket.send('Machine', 'get-list-nc-program');
		},

		save: function() {
			this.$socket.send('Machine', 'update-nc-program', {
				file: this.files[this.selected],
				content: this.programm.programm
			});
		},

	}
}

</script>


<template>
	
<div class="panel">
    <div class="panel-body">

        <div class="row">
            <div class="col-lg-2">
                <div class="list-group bord-no">
                <button v-on:click="getListNCProgram" class="btn btn-success btn-block">Получить список файлов</button><br />
                    <a v-for="(file, index) in files" 
                        class="list-group-item list-item-sm"
                        v-bind:class="{active: selected == index}" 
                        v-on:click="changeFile(index)"> {{ file }} 
                    </a>
                </div>
            </div>

            <div class="col-lg-10">

                <div class="panel-body pad-no">
                    <textarea class="form-control" rows="19" style="height: 368px" placeholder="Enter G code here" v-model="programm.programm"></textarea>
                    <div class="mar-top clearfix">
                        <button v-on:click="save" class="btn btn-sm btn-primary pull-right" type="submit"><i class="demo-psi-right-4 icon-fw"></i> Сохранить</button>
                        <button v-on:click="start" class="btn btn-sm btn-warning" type="submit">Start</button>
                        <button v-on:click="oneLine" class="btn btn-sm btn-primary" type="submit">One Line</button>
                        <button v-on:click="nextLine" class="btn btn-sm btn-primary" type="submit">Next Line</button>
                        <button v-on:click="pause" class="btn btn-sm btn-primary" type="submit">Pause</button>
                        <button v-on:click="stop" class="btn btn-sm btn-primary" type="submit">Stop</button>
                        <button v-on:click="confirmationError" class="btn btn-sm btn-primary" type="submit">Confirmation</button>
                    </div>
                </div>

            </div>

        </div>

        
    </div>

</div>

</template>