.btn-checkbox {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 60px;
}
.btn-checkbox div {
    float: left;
}
.btn-checkbox input {
    position: absolute;
    left: -9999px;
}
.btn-checkbox label {
    display: block;
    width: 43px;
    text-align: center;
    margin: 0 0 0 -1px;
    padding: 8px 10px;
    border: 1px solid #BBBBBB;
    border-right: none;
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .12);
    cursor: pointer;
}
.btn-checkbox input:checked + label {
    background: #74a838;
    color: white;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, .2);
}

.btn-checkbox div:last-child label {
    border-right: 1px solid #BBBBBB;
}

#canvas-3d {
    width: 100%;
    height: 100%;
    touch-action: none;
}