<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!--STYLESHEET-->
    <!--=================================================-->

    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>


    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="vendor/bootstrap/bootstrap.min.css" rel="stylesheet">


    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="css/nifty.min.css" rel="stylesheet">


    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="css/demo/nifty-demo-icons.min.css" rel="stylesheet">


    <!--Demo [ DEMONSTRATION ]-->
    <link href="css/demo/nifty-demo.min.css" rel="stylesheet">


    <!--Magic Checkbox [ OPTIONAL ]-->
    <link href="vendor/magic-check/css/magic-check.min.css" rel="stylesheet">


    <link href="vendor/themify-icons/themify-icons.min.css" rel="stylesheet">


    <!--NevaOil Stylesheet [ REQUIRED ]-->
    <link href="css/nevaoil.css" rel="stylesheet">


    <!--JAVASCRIPT-->
    <!--=================================================-->

    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="vendor/pace/pace.min.css" rel="stylesheet">
    <script src="vendor/pace/pace.min.js"></script>


    <!--jQuery [ REQUIRED ]-->
    <script src="vendor/bootstrap/jquery-2.2.4.min.js"></script>


    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="vendor/bootstrap/bootstrap.min.js"></script>


    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="js/nifty.min.js"></script>
   
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@2.2.1"></script>
    <script src="js/twincat.js"></script>

    <script src="vendor/three/three.min.js"></script>
    <script src="js/script.js"></script>

</head>

<body>

	<div id="container" class="effect aside-bright mainnav-out slide aside-in">

		<%- partial('header') %>


        <div id="app" class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">

                <%- body -%> 


                <aside id="aside-container">
                    <!--ASIDE-->
                <!--===================================================-->
                <aside id="aside-container">
                    <div id="aside">
                        <div class="nano">
                            <div class="nano-content">
                                
                                <!--Nav tabs-->
                                <!--================================-->
                                <ul class="nav nav-tabs nav-justified">
                                    <li class="active">
                                        <a href="#demo-asd-tab-1" data-toggle="tab">
                                            <i class="demo-pli-speech-bubble-7"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#demo-asd-tab-2" data-toggle="tab">
                                            <i class="demo-pli-information icon-fw"></i> TwinCat
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#demo-asd-tab-3" data-toggle="tab">
                                            <i class="demo-pli-wrench icon-fw"></i> Settings
                                        </a>
                                    </li>
                                </ul>
                                <!--================================-->
                                <!--End nav tabs-->



                                <!-- Tabs Content -->
                                <!--================================-->
                                <div class="tab-content">

                                    <!--First tab (Contact list)-->
                                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                                    <div class="tab-pane fade in active" id="demo-asd-tab-1">

                                        <p class="pad-hor mar-top text-semibold text-main">TwinCat Control v1.2</p>

                                        <a role="button" data-toggle="collapse" href="#el-connect-state">                                        
                                            <p class="mar-all">Соединение
                                                <span class="badge badge-success pull-right"> {{ system.connect }}</span>
                                            </p>
                                        </a>
                                        <div class="collapse mar-no" id="el-connect-state">
                                          <div class="well mar-no">
                                                <p class="text-semibold text-main">Select Machine</p>
                                                <div class="radio">
                                                    <input v-model="machinePicked" type="radio" id="vm" value="vm" class="magic-radio">
                                                    <label for="vm">Virtual Machine</label>
                                                </div>
                                                <div class="radio">
                                                    <input v-model="machinePicked" type="radio" id="rm" value="rm" class="magic-radio">
                                                    <label for="rm">Real Machine</label>
                                                </div>
                                                <button v-on:click="connectTo" class="btn btn-success btn-block">Подключиться</button>
                                            </div>
                                        </div>

                                        <div style="display: block; height: 1px"></div>

                                        <a role="button" data-toggle="collapse" href="#el-plc-state" aria-expanded="false" aria-controls="collapseExample">
                                            
                                            <p class="mar-all">Состояние PLC
                                                <span class="badge badge-success pull-right">{{ system.plc }}</span>
                                            </p>
                                        </a>
                                        <div class="collapse" id="el-plc-state">
                                          <div class="well">
                                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                              <a v-on:click="plcStart" class="btn btn-success">PLC {{ system.plcState != 5 ? 'start' : 'stop' }}</a>
                                              <a v-on:click="plcReset" class="btn btn-success">PLC reset</a>                                                 
                                            </div>
                                          </div>
                                        </div>

                                        <div style="display: block; height: 1px"></div>

                                        <a role="button" data-toggle="collapse" href="#el-main-state" aria-expanded="false" aria-controls="collapseExample">
                                            
                                            <p class="mar-all">Состояние Main
                                                <span class="badge badge-success pull-right">{{ system.mainState }}</span>
                                            </p>
                                        </a>
                                        <div class="collapse" id="el-main-state">
                                          <div class="well">
                                            
                                            <div class="btn-checkbox">
                                                <div>
                                                    <input type="checkbox" id="axis-x" v-model="axisActive.x2"/>
                                                    <label for="axis-x">X</label>
                                                </div>
                                                <div>
                                                    <input type="checkbox" id="axis-y" v-model="axisActive.y"/>
                                                    <label for="axis-y">Y</label>
                                                </div>
                                                <div>
                                                    <input type="checkbox" id="axis-z" v-model="axisActive.z"/>
                                                    <label for="axis-z">Z</label>
                                                </div>
                                                <div>
                                                    <input type="checkbox" id="axis-h" v-model="axisActive.h"/>
                                                    <label for="axis-h">H</label>
                                                </div>
                                                <div>
                                                    <input type="checkbox" id="axis-q" v-model="axisActive.q"/>
                                                    <label for="axis-q">Q</label>
                                                </div>
                                            </div>

                                            <button v-on:click="setAxisActive" class="btn btn-success btn-block">Активировать оси</button>

                                          </div>
                                        </div>

                                        <div style="display: block; height: 1px"></div>

                                        <a role="button" data-toggle="collapse" href="#el-nci-state" aria-expanded="false" aria-controls="collapseExample">
                                            
                                            <p class="mar-all">Состояние NCI
                                                <span class="badge badge-success pull-right">{{ system.nciState }}</span>
                                            <br />
                                            <small class="text-muted">Selected file: <b>{{ system.nci.path }}</b><br />
                                                    Selected axes: {{ system.nci.axis }}</small></p>
                                        </a>
                                        <div class="collapse" id="el-nci-state">
                                          <div class="well">

                                            <div class="input-group mar-btm panel">
                                                <span class="input-group-addon">X</span>
                                                <select class="form-control" v-model="listSelectedAxis.x">
                                                    <option v-for="axis in listAxis">{{axis}}</option>
                                                </select>
                                            </div>

                                            <div class="input-group mar-btm panel">
                                                <span class="input-group-addon">Y</span>
                                                <select class="form-control" v-model="listSelectedAxis.y">                                                
                                                    <option v-for="axis in listAxis">{{axis}}</option>
                                                </select>
                                            </div>

                                            <div class="input-group mar-btm panel">
                                                <span class="input-group-addon">Z</span>
                                                <select class="form-control" v-model="listSelectedAxis.z">
                                                    <option v-for="axis in listAxis">{{axis}}</option>
                                                </select>
                                            </div>

                                            <button v-on:click="makeChannel" class="btn btn-success btn-block">Собрать канал</button>
                                          </div>
                                        </div>

                                        <div style="display: block; height: 1px"></div>

                                        <a role="button" data-toggle="collapse" href="#el-axis-state" aria-expanded="false" aria-controls="collapseExample">
                                            <i class="ti-angle-down pull-right mar-rgt"></i>
                                            <p class="pad-hor mar-top text-semibold text-main">Состояние осей</p>
                                        </a>
                                        <div class="collapse in" id="el-axis-state">

                                            <table class="table table-hover table-vcenter">
                                                <tbody>
                                                    <tr>
                                                        <td style="padding-left: 20px">X</td>
                                                        <td>
                                                            <span class="text-main text-semibold">{{ x2.actPos }} ({{ x2.actVelo }})</span>
                                                            <br>
                                                            <small class="text-muted">{{ x1.actPos }} ({{ x1.actVelo }})</small>
                                                        </td>
                                                        <td><span class="badge badge-success pull-right">{{ state.x2 }}</span> </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-left: 20px">Y</td>
                                                        <td><span class="text-main text-semibold">{{ y.actPos }} ({{ y.actVelo }})</span></td>
                                                        <td><span class="badge badge-success pull-right">{{ state.y }}</span> </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-left: 20px">Z</td>
                                                        <td><span class="text-main text-semibold">{{ z.actPos }} ({{ z.actVelo }})</span></td>
                                                        <td><span class="badge badge-success pull-right">{{ state.z }}</span> </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-left: 20px">H</td>
                                                        <td><span class="text-main text-semibold">{{ h.actPos }} ({{ h.actVelo }})</span></td>
                                                        <td><span class="badge badge-success pull-right">{{ state.h }}</span> </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-left: 20px">Q</td>
                                                        <td><span class="text-main text-semibold">{{ q.actPos }} ({{ q.actVelo }})</span></td>
                                                        <td><span class="badge badge-success pull-right">{{ state.q }}</span> </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            </ul>
                                        </div>

                                        <div style="display: block; height: 1px"></div>
                                        
                                        <p class="pad-hor mar-top text-semibold text-main">Service Cognex</p>

                                        <div class="list-group bg-trans">
                                            <p class="list-group-item"><span class="badge badge-warning pull-right">Undefined</span> Состояние сервиса</p>
                                        </div>

                                    </div>
                                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                                    <!--End first tab (Contact list)-->


                                    <!--Second tab (Custom layout)-->
                                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                                    <div class="tab-pane fade" id="demo-asd-tab-2">

                                        <!-- CONTENT TAB2 -->

                                    </div>
                                    <!--End second tab (Custom layout)-->
                                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


                                    <!--Third tab (Settings)-->
                                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                                    <div class="tab-pane fade" id="demo-asd-tab-3">

                                        
                                        <ul class="list-group bg-trans">
                                            <li class="pad-top list-header">
                                                <p class="text-semibold text-main mar-no">TwinCat Control v1.2</p>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="pull-right">
                                                 <small class="text-muted">Offline</small>
                                                </div>
                                                <p class="mar-no">Состояние PLC</p>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="pull-right">
                                                    <input class="toggle-switch" id="demo-switch-2" type="checkbox" checked>
                                                    <label for="demo-switch-2"></label>
                                                </div>
                                                <p class="mar-no">Show offline contact</p>
                                                <small class="text-muted">Aenean commodo ligula eget dolor. Aenean massa.</small>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="pull-right">
                                                    <input class="toggle-switch" id="demo-switch-3" type="checkbox">
                                                    <label for="demo-switch-3"></label>
                                                </div>
                                                <p class="mar-no">Invisible mode </p>
                                                <small class="text-muted">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </small>
                                            </li>
                                        </ul>


                                        <hr>

                                        <ul class="list-group pad-btm bg-trans">
                                            <li class="list-header"><p class="text-semibold text-main mar-no">Public Settings</p></li>
                                            <li class="list-group-item">
                                                <div class="pull-right">
                                                    <input class="toggle-switch" id="demo-switch-4" type="checkbox" checked>
                                                    <label for="demo-switch-4"></label>
                                                </div>
                                                Online status
                                            </li>
                                            <li class="list-group-item">
                                                <div class="pull-right">
                                                    <input class="toggle-switch" id="demo-switch-5" type="checkbox" checked>
                                                    <label for="demo-switch-5"></label>
                                                </div>
                                                Show offline contact
                                            </li>
                                            <li class="list-group-item">
                                                <div class="pull-right">
                                                    <input class="toggle-switch" id="demo-switch-6" type="checkbox" checked>
                                                    <label for="demo-switch-6"></label>
                                                </div>
                                                Show my device icon
                                            </li>
                                        </ul>



                                        <hr>

                                        <p class="pad-hor text-semibold text-main mar-no">Task Progress</p>
                                        <div class="pad-all">
                                            <p>Upgrade Progress</p>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar progress-bar-success" style="width: 15%;"><span class="sr-only">15%</span></div>
                                            </div>
                                            <small class="text-muted">15% Completed</small>
                                        </div>
                                        <div class="pad-hor">
                                            <p>Database</p>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar progress-bar-danger" style="width: 75%;"><span class="sr-only">75%</span></div>
                                            </div>
                                            <small class="text-muted">17/23 Database</small>
                                        </div>

                                    </div>
                                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                                    <!--Third tab (Settings)-->

                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <!--===================================================-->
                <!--END ASIDE-->
                </aside>

            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->

        </div>



        <footer id="footer">
            <div class="hide-fixed pull-right pad-rgt">
                Version <strong>1.0.0</strong> 
            </div>

            <p class="pad-lft">&#0169; 2017 NevaOil</p>
        </footer>

        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->

	</div>

    <div id="block-monitor" class="modal-backdrop fade"></div>
    <div id="block-modal" class="modal fade">
        <div class="modal-dialog modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="block-title">Отсутствует подключение к серверу</h4>
                </div>
                <div class="modal-body">
                    <p id="block-description">....</p>
                </div>

                <div class="modal-footer">
                    <button id="reconnect-to-server" class="btn btn-primary">Подключиться</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>