<script>
	
export default {
	data() {
		return {
			laser: this.$store.state.machine.laser,
            laserPower: 1,
            time: 1000,
            disabled: false
		}
	},

	computed: {
		laserState() {
			return this.laser.state ? 'В работе' : 'Выключен'
		} 
	},

	methods: {
		onLaser: function() {
            this.$socket.send('Machine', 'laser-start', {on: true, value: this.laserPower})
            this.disabled = true;
        },

        offLaser: function() {
            this.$socket.send('Machine', 'laser-start', {on: false, value: 0})
            this.disabled = false;
        },

        pulse() {
        	if (!this.disabled) {
        		this.disabled = true;
        		this.$socket.send('Machine', 'laser-start', {on: true, value: this.laserPower})
        		setTimeout(() => {
        			this.$socket.send('Machine', 'laser-start', {on: false, value: 0})
        			setTimeout(() => {
        				this.disabled = false;
        			}, 2000);
        		}, this.time);
        	}
        }
	}
}

</script>

<template>
<div>
	<ul class="list-group bg-trans">
        <li class="pad-top list-header">
            <p class="text-semibold text-main mar-no">Laser Control</p>
        </li>
        <li class="list-group-item">
            <div class="pull-right">
        		<span class="badge badge-success pull-right"> {{ laserState }}</span>
            </div>
            <p class="mar-no">Состояние</p>
        </li>
        <li class="list-group-item">
        	<div class="pull-right">
    			<input type="number" class="form-control" v-model.number="time" step="0.1" style="width: 130px">
            </div>
            <p class="mar-no">Время</p>
        </li>
        <li class="list-group-item">
        	<div class="pull-right">
    			<input type="number" class="form-control" v-model.number="laserPower" step="0.05" style="width: 130px">
            </div>
            <p class="mar-no">Мощность</p>
        </li>
    </ul>

    <div class="btn-group btn-group-justified">
          <a v-on:click="laserPower = Math.round((laserPower - 0.1) * 100) / 100" class="btn btn-info">-</a>
          <a v-on:click="laserPower = Math.round((laserPower + 0.1) * 100) / 100" class="btn btn-info">+</a>
    </div>

    <div class="btn-group btn-group-justified mar-top">
          <a v-on:click="pulse" class="btn btn-info" :disabled='disabled'>Pulse</a>
    </div>

    <div class="btn-group btn-group-justified mar-top">
          <a v-on:click="onLaser" class="btn btn-info">On</a>
          <a v-on:click="offLaser" class="btn btn-info">Off</a>
    </div> 
</div>
</template>
