<script>

export default {
	data() {
		return {

		}
	},

	methods: {

	}
}

</script>


<template>
<div>
	<p class="pad-hor mar-top text-semibold text-main">TwinCat Control v1.2</p>

    <a role="button" data-toggle="collapse" href="#el-connect-state2">                                        
        <p class="mar-all">Соединение
            <span class="badge badge-success pull-right"> state </span>
        </p>
    </a>

    <div class="collapse mar-no in" id="el-connect-state2">
      <div class="well mar-no">
            <!--<p class="text-semibold text-main">Select Machine</p>
            <div class="radio">
                <input v-model="machinePicked" type="radio" id="vm" value="vm" class="magic-radio">
                <label for="vm">Virtual Machine</label>
            </div>
            <div class="radio">
                <input v-model="machinePicked" type="radio" id="rm" value="rm" class="magic-radio">
                <label for="rm">Real Machine</label>
            </div>-->
            <button class="btn btn-success btn-block">...</button>
        </div>
    </div>

                        <!--<div style="display: block; height: 1px"></div>

                        <a role="button" data-toggle="collapse" href="#el-plc-state" aria-expanded="false" aria-controls="collapseExample">
                            
                            <p class="mar-all">Состояние PLC
                                <span class="badge badge-success pull-right">{{ system.plc }}</span>
                            </p>
                        </a>
                        <div class="collapse" id="el-plc-state">
                          <div class="well">
                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                              <a v-on:click="plcStart" class="btn btn-success">PLC {{ system.plcState != 5 ? 'start' : 'stop' }}</a>
                              <a v-on:click="plcReset" class="btn btn-success">PLC reset</a>                                                 
                            </div>
                          </div>
                        </div>

                        <div style="display: block; height: 1px"></div>

                        <a role="button" data-toggle="collapse" href="#el-main-state" aria-expanded="false" aria-controls="collapseExample">
                            
                            <p class="mar-all">Состояние Main
                                <span class="badge badge-success pull-right">{{ system.mainState }}</span>
                            </p>
                        </a>
                        <div class="collapse" id="el-main-state">
                          <div class="well">
                            
                            <div class="btn-checkbox">
                                <div>
                                    <input type="checkbox" id="axis-x" v-model="axisActive.x2"/>
                                    <label for="axis-x">X</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="axis-y" v-model="axisActive.y"/>
                                    <label for="axis-y">Y</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="axis-z" v-model="axisActive.z"/>
                                    <label for="axis-z">Z</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="axis-h" v-model="axisActive.h"/>
                                    <label for="axis-h">H</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="axis-q" v-model="axisActive.q"/>
                                    <label for="axis-q">Q</label>
                                </div>
                            </div>

                            <button v-on:click="setAxisActive" class="btn btn-success btn-block">Активировать оси</button>

                          </div>
                        </div>

                        <div style="display: block; height: 1px"></div>

                        <a role="button" data-toggle="collapse" href="#el-nci-state" aria-expanded="false" aria-controls="collapseExample">
                            
                            <p class="mar-all">Состояние NCI
                                <span class="badge badge-success pull-right">{{ system.nciState }}</span>
                            <br />
                            <small class="text-muted">Selected file: <b>{{ system.nci.path }}</b><br />
                                    Selected axes: <b>{{ system.nci.chooseAxis }}</b></small></p>
                        </a>
                        <div class="collapse" id="el-nci-state">
                          <div class="well">

                            <div class="input-group mar-btm panel">
                                <span class="input-group-addon">X</span>
                                <select class="form-control" v-model="listSelectedAxis.x">
                                    <option v-for="axis in listAxis">{{axis}}</option>
                                </select>
                            </div>

                            <div class="input-group mar-btm panel">
                                <span class="input-group-addon">Y</span>
                                <select class="form-control" v-model="listSelectedAxis.y">                                                
                                    <option v-for="axis in listAxis">{{axis}}</option>
                                </select>
                            </div>

                            <div class="input-group mar-btm panel">
                                <span class="input-group-addon">Z</span>
                                <select class="form-control" v-model="listSelectedAxis.z">
                                    <option v-for="axis in listAxis">{{axis}}</option>
                                </select>
                            </div>

                            <button v-on:click="makeChannel" class="btn btn-success btn-block">Собрать канал</button>
                          </div>
                        </div>

                        <div style="display: block; height: 1px"></div>

                        <a role="button" data-toggle="collapse" href="#el-axis-state" aria-expanded="false" aria-controls="collapseExample">
                            
                            <p class="pad-hor mar-top text-semibold text-main">Состояние осей
                                <i class="ti-angle-down pull-right"></i>
                            </p>
                        </a>
                        <div class="collapse" id="el-axis-state">

                            <table class="table table-hover table-vcenter">
                                <tbody>
                                    <tr>
                                        <td style="padding-left: 20px">X</td>
                                        <td>
                                            <span class="text-main text-semibold">{{ x2.actPos }} ({{ x2.actVelo }})</span>
                                            <br>
                                            <small class="text-muted">{{ x1.actPos }} ({{ x1.actVelo }})</small>
                                        </td>
                                        <td><span class="badge badge-success pull-right">{{ state.x2 }}</span> </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 20px">Y</td>
                                        <td><span class="text-main text-semibold">{{ y.actPos }} ({{ y.actVelo }})</span></td>
                                        <td><span class="badge badge-success pull-right">{{ state.y }}</span> </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 20px">Z</td>
                                        <td><span class="text-main text-semibold">{{ z.actPos }} ({{ z.actVelo }})</span></td>
                                        <td><span class="badge badge-success pull-right">{{ state.z }}</span> </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 20px">H</td>
                                        <td><span class="text-main text-semibold">{{ h.actPos }} ({{ h.actVelo }})</span></td>
                                        <td><span class="badge badge-success pull-right">{{ state.h }}</span> </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 20px">Q</td>
                                        <td><span class="text-main text-semibold">{{ q.actPos }} ({{ q.actVelo }})</span></td>
                                        <td><span class="badge badge-success pull-right">{{ state.q }}</span> </td>
                                    </tr>
                                </tbody>
                            </table>

                            </ul>
                        </div>-->
</div>
</template>

